.tracker-container {
    position: absolute;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 15vh;
    width: fit-content;
    height: fit-content;
  }