@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

html {
    font-family: Alatsi, sans-serif;
}

.header-container {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 3;

    .logo-container {
        
        display: flex;
        user-select: none;
        pointer-events: none;
    
        .logo-text {
    
            color: white;
    
            h1, h4 {
                font-weight: normal;
                line-height: 80%;
            }
        
            h4 {
                margin-left: 10px;
            }
        }    
    
        .logo-icon {
            img {
                width: 42px;
            }
    
            display: flex;
            justify-content: center;
            align-items: flex-center;
        }
        
    }

    .buttons-container {
        display: flex;
        align-items: center;
        margin-left: auto;

        button {
            background: none;
            outline: none;
            border: none;
            color: white;

            font-size: 24px;
            width: 36px;
            height: 36px;
            border-radius: 50px;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all 0.1s;
            cursor: pointer;

            &:hover {
                background-color: rgba($color: white, $alpha: 0.1);
                
            }

            &:active {
                background-color: rgba($color: white, $alpha: 0.2);
            }
        }
    }

}

