@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');

$small: 500px;
$medium: 900px;

html {
    font-family: Alatsi, sans-serif;
}

.header-container {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 3;

    
    .logo-container {
        user-select: none;
        pointer-events: none;
    }

    .buttons-container {
        display: flex;
        align-items: center;
        margin-left: auto;

        a {
            -webkit-tap-highlight-color: transparent;
        }

        
    }

}

