@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

$small: 500px;
$medium: 900px;

html {
    font-family: Alatsi, sans-serif;
}

.header-container {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 3;

    
    .logo-container {
        user-select: none;
        pointer-events: none;
    }

    .buttons-container {
        display: flex;
        align-items: center;
        margin-left: auto;

        a {
            -webkit-tap-highlight-color: transparent;
        }

        button {
            background: none;
            outline: none;
            border: none;
            color: white;
            -webkit-tap-highlight-color: transparent;

            font-size: 24px;
            min-width: 36px;
            min-height: 36px;
            border-radius: 50px;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all 0.1s;
            cursor: pointer;

            &:hover {
                background-color: rgba($color: white, $alpha: 0.1);
                
            }

            &:active {
                background-color: rgba($color: white, $alpha: 0.2);
            }
        }
    }

}

