$small: 500px;
$medium: 900px;

.header-container {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 3;

    .logo-container {
        user-select: none;
        pointer-events: none;
    }

    .buttons-container {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

}

