* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-moz-selection {
    color: white;
    background: rgba($color: #ffffff, $alpha: 0.2);
}

::selection {
    color: white;
    background: rgba($color: #ffffff, $alpha: 0.2);
}
